<a href="https://colab.research.google.com/github/immanuvel777/data_class_2/blob/main/test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
emp={"name":"iman","age":"30","income":"25000"}

In [ ]:
emp["income"]

'25000'

In [ ]:
emp["mobil"]=773646

In [ ]:
emp

{'name': 'iman', 'age': '30', 'income': '25000', 'mobil': 773646}

In [ ]:
emp["mobil"]

773646

In [ ]:
guvi_emp={"empId":[41,42,43,44,45,46,47,48,],
           "name":["rajesh","kumar","kamal","saran","iswarya","karthi","divya","davi"],
           "designation":["developer","tester","tl","manager","jr_developer","account6","hr","admin"],
           "salary":[25000,30000,35000,40000,20000,15000,13000,22000]}

In [ ]:
print(f"employee_Id:{guvi_emp['empId'][0]}")
print(f"employee_name:{guvi_emp['name'][0]}")
print(f"employee_designation:{guvi_emp['designation'][0]}")
print(f"employee_salary:{guvi_emp['salary'][0]}")

employee_Id:41
employee_name:rajesh
employee_designation:developer
employee_salary:25000

In [ ]:
user_emp_id=int(input("enter_eployee_id:"))
pos=guvi_emp['empId'].index(user_emp_id)
pos

print(f"employee_Id:{guvi_emp['empId'][pos]}")
print(f"employee_name:{guvi_emp['name'][pos]}")
print(f"employee_designation:{guvi_emp['designation'][pos]}")
print(f"employee_salary:{guvi_emp['salary'][pos]}")

enter_eployee_id:45
employee_Id:45
employee_name:iswarya
employee_designation:jr_developer
employee_salary:20000

In [ ]:
names=["raja","ravi","guna"]
values=60

epm=dict.fromkeys(names,values)
epm

{'raja': 60, 'ravi': 60, 'guna': 60}

In [ ]:
guvi_emp={"Empl_ID":[101,102,103,104,105,106],
          "Name":["iman","ravi","sivaji","rani","glory","ezekiel"],
          "desig":["manager","gm","agm","acoount","sales","TL",],
          "salary":[45000,40000,35000,30000,25000,20000]}

In [ ]:
user_emp_id=int(input("enter employee ID:"))
pos=guvi_emp['Empl_ID'].index(user_emp_id)
pos

print(f"employee_ID:{guvi_emp['Empl_ID'][pos]}")
print(f"employee_name:{guvi_emp['Name'][pos]}")
print(f"employee_desig:{guvi_emp['desig'][pos]}")
print(f"employee_salary:{guvi_emp['salary'][pos]}")

enter employee ID:104
employee_ID:104
employee_name:rani
employee_desig:acoount
employee_salary:30000

In [ ]:
age=int(input("enter your age"))
if age>18:
  print("your eligible for vote")
else:
  print("your not eligible for vote")

enter your age50
your eligible for vote

In [ ]:
name=input("enter your name: ")
mark=int(input("enter your mark: "))

if mark>=91 and mark<=100:
  print(f"{name} your mark is {mark} so your eligible for docter")
elif mark>=81 and mark<=90:
  print(f"{name} your mark is {mark} so your eligible for engeenear")
elif mark>=71 and mark<=80:
  print(f"{name} your mark is {mark} so your eligible for commerce")
elif mark>=61 and mark<=70:
  print(f"{name} your mark is {mark} so your eligible for arts")
else:
  print(f"{name} your mark is {mark} so your not eligible")

enter your name: rani
enter your mark: 98
rani your mark is 98 so your eligible for docter

In [6]:
name=input("enter your name: ")
mark=int(input("enter your mark: "))

if mark>=91 and mark<=100:
  neet=int(input("enter your neet mark: "))
  if neet>=90:
    print(f"{name} your mark is {mark} your neet score is {neet} since your eligible for docter")
  else:
    print(f"{name} your marks is {mark} your neet mark is {neet} since your nor eligible so you go other corses ")
elif mark>=81 and mark<=90:
  print(f"{name} your mark is {mark} so your eligible for engeenear")
elif mark>=71 and mark<=80:
  print(f"{name} your mark is {mark} so your eligible for commerce")
elif mark>=61 and mark<=70:
  print(f"{name} your mark is {mark} so your eligible for arts")
else:
  print(f"{name} your mark is {mark} so your not eligible")

enter your name: rani
enter your mark: 98
enter your neet mark: 92
rani your mark is 98 your neet score is 92 since your eligible for docter

In [7]:
# loops
# for loop ex-1


name=[20,30,40,50]

for i in name:
  print(i)

20
30
40
50

In [8]:
# ex-1

a=6

if a%2==0:
  print("even")
else:
  print("odd")

even

In [9]:
# ex-2

a=5

if a%2==0:
  print("even")
else:
  print("odd")

odd

In [10]:
name=[10,20,45,38,51,64,99,73]

for n in name:
  if n%2==0:
    print(f"{n} is even")
  else:
    print(f"{n} is odd")

10 is even
20 is even
45 is odd
38 is even
51 is odd
64 is even
99 is odd
73 is odd

In [24]:
nams=[10,20,33,45,66,78,100,200,25,64,84,5,7,8,9,1,2,4,6]


name_3=[]
name_5=[]
name_7=[]

for n in nams:
  if n%3==0:
    name_3.append(n)
  if n%5==0:
    name_5.append(n)
  if n%7==0:
    name_7.append(n)


print(*name_3)
print(*name_5)
print(*name_7)

33 45 66 78 84 9 6
10 20 45 100 200 25 5
84 7